body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
  }
  header, footer {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
  }
  h1, h2 {
    color: #ff9800;
  }
  section {
    padding: 30px;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .goal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  }

  .card {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  }
  a {
    color: #90caf9;
  }
  .nav {
    text-align: center;
    margin-bottom: 20px;
  }
  .nav a {
    margin: 0 10px;
    color: #ff9800;
    text-decoration: none;
  }

  button {
    background-color: #1f1f1f;
    color: #ffffff;
    border: 2px solid #00ffff;
    padding: 8px 14px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 255, 255, 0.2);
  }
  
   button:hover {
    transform: translateY(-5px); /* Thoda upar uthta hai */
    background-color: #00ffff;  /* Chamkila color */
    color: #000000;             /* Text ka color dark */
    box-shadow: 0 6px 12px rgba(0, 255, 255, 0.4);
  }
  .social-card {
    background-color: #2b2b2b; /* dark gray */
    color: white;
    padding: 20px;
    border-radius: 15px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    text-align: center;
    margin: 20px ;
    font-family: 'Segoe UI', sans-serif;
    
  }
  
  .social-card h2 {
    margin-bottom: 15px;
    font-size: 18px;
  }
  
 

  .social-icon  {
    display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
  }
  .social-icon1  {
    width: 40px;
    height: 40px;
  }

  
  .social-icon1:hover {
    transform: scale(1.1);
  }
  
 